.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
}

input {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
}

.submitBtn {
  padding: 10px;
  font-size: 16px;
  background-color: #4caf50; /* Зелений колір за замовчуванням */
  color: white; /* Білий текст */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitBtn:hover {
  background-color: #45a049; /* Темніший зелений при ховері */
}
